

.container {
    
    background-color: var(--bgSoft);
    pad: 20px;
    border-radius: 10px;
}

.title {
    margin-bottom: 20px;
    font-weight: 200;
    color: var(--textSoft);
    padding-left: 20px;
    padding-top: 5px;
}

.table {
    width: 100%;
    padding-left: 20px;
    padding-bottom: 20px;
}

.table td{
    pad: 10px;
}

.user td{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 3px;
}

.userImage {
    object-fit: cover;
    border-radius: 50%;
}

.status {
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    color: whiite;
}

.done {
    background-color: #3cbb9f75;
}

.pending {
    background-color: #f7cb7375;
}

.cancelled {
    background-color: #f7737375;
}

